html {
  height: 100%;
  width: 100%;
}

a{
  color: #212121;
  letter-spacing: .2rem;
  font-weight: 700;
  text-decoration: none;
  margin-left: 2.5rem;
}

a:hover{
  color: #8c8c8c;
}

#logo{
  font-size: 2rem;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav_to_pages a{
  margin-left: 2.5rem;
}

body{
  padding: 40px 60px;
  font-family: 'Roboto', sans-serif;
  color: #212121;
}


footer{
  margin-top: 100px;
}

h2{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.social_icon{
  margin-right: 30px;
}


  h1{
    font-size: 2.5rem;
    font-weight:700;
  }

  h1, h2, h3 {
    letter-spacing: .2rem;
    margin-bottom: 1.5rem;
  }

  h3 {
    color: #666666;
  }

  header {
    margin-bottom: 100px;
  }

  .text_and_image_content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }


  .intro_text_container {
    width: 50%;
  }

  main {
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
   }

  img {
    width:100%;
    border-radius: 5%;
  }

  section {
    margin-bottom: 200px;
  }

  section {
    margin-bottom: 200px;
  }

   p {
     letter-spacing: .1rem;
     line-height: 1.6;
     padding: 10px;
   }

  #project_heading {
  margin-bottom: 80px;
}

.project_sub_heading {
  margin-bottom: 30px;
}

#contact_heading {
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  text-align: left;
  margin-bottom: 30px;
}


#contact_paragraph {
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 700px;
  margin-bottom: 40px;
}

form {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

label {
  font-family: 'Roboto', sans-serif;
  display: block;
  font-size:20px;
  text-align: left;
  color: #666666; 
  margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: left;
}

textarea {
  height: 200px;
  resize: vertical;
  border-radius: 8px;
}

button[type="submit"] {
  background-color: #87CEEB;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-start;
}

button[type="submit"]:hover {
  background-color: #44626e;
}


.contact-box{
  flex-basis: 40%;
  padding: 40px;
  background: #69a3ff;
  color: #fff;
}

.h3-1{
  color: #f2f2f2;
  letter-spacing: .2rem;
  margin-bottom: 1.5rem;
}

tr td:first-child{
  padding-right: 20px;
}

tr td{
  padding-top: 20px;
}


